.App {
  text-align: center;
}

.App-header {
  padding: 0 15px;
  background-color: #242e42;
  height: 15vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  height: 85vh;
  width: 75%;
  margin: 0 auto;
  float: left;
  background-color: #242e42;
}
.astros {
  height: 85vh;
  width: 25%;
  margin: 0 auto;
  float: left;
  background-color: #242e42;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-pos {
  display: flex;
  flex-direction: row;
  width:60%;
  float: left;
  font-size: calc(5px + 2vmin);
}

.App-time {
  display: flex;
  flex-direction: row;
  width:40%;
  float: left;
  font-size: calc(5px + 2vmin);
}


.App-link {
  color: #61dafb;
}

